/* $font-weight: bold; */

.name {
    color: red;
    font-weight: bold;
    font-family: cursive;
}

#italics {
    font-style: italic;
}

a::before {
    content: "\21d2";
    font-weight: bold;
}

a::after {
    content: "\21d0";
    font-weight: bold;
}

a:hover {
    background-color: aqua; 
}

table, th, tr{
    border: 3px dotted gray;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 500px) {
    table, th, tr  {
        border: 2px solid gray;
        text-align: center;
    }
}

@media (max-width: 499px) {
    table, th, tr {
        border: 2px solid gray;
        text-align: left;
    }
}

