$font-weight: bold;
$grid-padding: 20px;

.name {
    color: red;
    font-weight: $font-weight;
    font-family: cursive;
}

p {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

a[href="index.html"]::before {
    content: "Return ";
    font-weight: $font-weight;
}

a::after {
    content: "\21d0";
    font-weight: $font-weight;
}

a::before {
    content: "\21d2";
    font-weight: $font-weight;
}

#italics {
    font-style: italic;
}

a:hover {
    background-color: aqua; 
}

@media screen and (min-width: 700px) {
    table, th, tr  {
        border: 3px dotted red;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 500px) {
    table, th, tr {
        border: 3px solid gray;
        text-align: left;
    }
}


